@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow scrolling and hide the scrollbar in Webkit browsers */
body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    sans-serif;
}

/* Scrollable with visible and styled scrollbar */
.scrollable {
  overflow: auto; /* Allow scrolling */
}

/* Webkit-based browsers (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background: #121622; /* Gradient color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

/* Firefox */
.scrollable {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #121622 #f1f1f1; /* Scrollbar thumb and track colors */
}

/* Hidden scrollbar but still scrollable */
.hidden-scroll {
  overflow: auto; /* Enable scrolling */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.hidden-scroll::-webkit-scrollbar {
  display: none; /* Completely hide the scrollbar */
}

/* Firefox */
.hidden-scroll {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Fallback for older browsers (Internet Explorer, Edge) */
.hidden-scroll {
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}
