@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow scrolling and hide the scrollbar in Webkit browsers */
body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    sans-serif;
}

.no-scroll {
  overflow: auto; /* Allow scrolling */
}

/* Webkit-based browsers (Chrome, Safari) */
.no-scroll::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
}

.no-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff6347, #4b9cd3);
  border-radius: 10px; /* Optional: rounded corners for the scrollbar thumb */
}

.no-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: scrollbar track color */
}

/* Firefox */
.no-scroll {
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: darkblue #f1f1f1; /* scrollbar color and track color */
}

.emoji-text::after {
  content: "";
}
